################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Fibonacci/bin
/Fibonacci/obj/Debug
/.vs
