@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Front-End Exercises</h1>
    <p class="lead">
        <ul>
            <li><a href="@Url.Action("Index", "JavaScript")">Exercise 1:JavaScript</a></li>
            <li><a href="@Url.Action("Index", "Knockout")">Exercise 2:JavaScript + Knockout + Bootstrap</a></li>
            <li><a href="@Url.Action("Index", "TypeScript")">Exercise 1:TypeScript + Knockout + Bootstrap + AJAX</a></li>
        </ul></p>   
</div>

